@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

:root {
    --clr-gold: #DCC48E;
    --clr-beige: #EAEFD3;
    --clr-purple: #27233A;
}


body {
    background-color:var(--clr-purple);
    color: var(--clr-beige);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem ;
    background-color: var(--clr-beige);
    color: var(--clr-purple);
    border-bottom-left-radius:3rem  ;
    border-bottom-right-radius:3rem ;
}

main {
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}

.instrucciones {
    margin-bottom:2rem ;
}
.marcador {
    background-color: var(--clr-gold);
    padding: 1rem 2rem;
    border-radius: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    color: var(--clr-purple);
    font-weight: 600;
    margin-bottom: 2rem;
}

.marcador .nombre{
    position: absolute ;
    background-color: var(--clr-purple);
    color: var(--clr-beige);
    line-height: 1;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid var(--clr-gold);
}

.marcador .nombre-jugador {
    right: 85%;
}

.marcador .nombre-computadora {
    left: 85%;
}

.marcador .puntos {
    font-size: 2rem;
}

.elegi-tu-arma {
    margin-bottom: 2rem;
}
.elegi-tu-arma h2 {
    font-size: 25px;
    margin-bottom: 10px
}

.armas {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.arma {
    font-size: 55px;
    background-color: var(--clr-beige);
    border-radius: 20px;
    cursor: pointer;
}
.mensaje {
    margin-bottom: 20px;
    line-height: 30px;
}

.mensaje .eleccion {
    color: var(--clr-purple);
    background-color: var(--clr-gold);
    border-radius: 5px;
}

.btn{
    border: 2px;
    background-color: var(--clr-gold);
    color: var(--clr-purple);
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
 font-weight: 600;
}

.disabled {
    display: none;
} 